*{
 margin: 0px;
 padding: 0px;   
}

body{
    width:100%;
}

.mobile{
    width: 100%;
}
.mobileBackground{
    width: 100%;
}

.mobileBackground img{
    width: 100%;
}

.login_wrap{
    width: 80%;
    margin: auto;
}

.user_resetword{
    width: 100%;
    font-size: 2.5vh;
    padding: 3.5% 0% 3.5% 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user_resetword img{
    width:5%;
    margin-right: 5%;
}

.user_resetword input{
    width: 90%;
    height: 5vh;
    outline: none;
    border: none;
}

.form-group{
    width: 100%;
    margin-top: 5%;
}

.form-group input{
    width: 100%;
    padding:3% 0% 3% 0%;
    outline: none;
    border: none;
}


.reset_yanzhengma a{
    text-decoration: none;
}
.reset_yanzhengma{
    width: 32%;
    padding:4% 0% 4% 0%;
    background: #e5e5e5;
    font-size: 2vh;
    text-align: center;
}

.imageCode{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 3% 0% 3% 0%;
}

.user_login input{
    width: 76%;
}

.captcha{
    width: 32%;
}

.messageCode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}

.reset_yanzheng{
    font-size: 2.5vh;
}

.userreset_account{
    font-size: 2.5vh;
}

.btn_login{
    width: 100%;
    height:40px;
    border-radius: 90px;
    background: #26b768;
    border: 2px solid #38b66d;
    color: #fff;
    font-size: 2.5vh;
    margin-top: 34px;
    display: block;
    text-align: center;
}

.inputBox{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.user_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user_login input{
    width: 90%;
}

.user_login img{
    width:5%;
    margin-right: 5%;
}

.h_panel,.login_footer,ins,#newBridge{
	display:none;
}
